<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="selectLeft">
        <select type="select" class="form-control" (change)="changeStock($event.target.value)">
            <option value = "">Select Stock</option>
            <option *ngFor="let stockname of uniqueStocks" [value]="stockname">
                {{stockname}}
            </option>
        </select>
    </div>
    <br><br>
    <div style="clear: both;"></div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart
                    #baseChart="base-chart" [datasets]="barChartData" [colors]="barChartColors" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <!-- <div class="card-footer">
                </div> -->
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Doughnut Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="reglist" *ngIf="showForm">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Close Price</th>
                <th>Date</th>
                <th>Stock</th>
                <th>Total Shares</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of selectedStocks, let i = index">
                <td *ngIf="stock.close">{{i+1}}</td>
                <td>{{stock.close}}</td>
                <td>{{stock.date}}</td>
                <td>{{stock.stock}}</td>
                <td>{{stock.totalShares}}</td>
                <td *ngIf="stock.close">
                    <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
                </td>
                <td *ngIf="stock.close">
                    <button type="button" class="btn btn-danger" (click)="onDelete(stock.index,i)">Delete</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="card-body" *ngIf="showEditForm">
        <div class="card-header">Update Form</div>
        <form role="form" #addStockForm>
            <div class="form-content">
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">Close Price</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">High Price</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">Open Price</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">Stock</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="code">Total Shares</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-default" (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </div>
</div>
